:root {
  --text-color: #010203;
  --height: 15vh;
  --width: 15vh;
  --bottom: 5%;
}
@media only screen and (max-width: 1080px) {
  :root {
    --text-color: #010203;
    --height: 15vw;
    --width: 15vw;
    --bottom: 5%;
  }
}

.Hallitsija {
  position: fixed;
  left: 5%;
  bottom: var(--bottom);
  width: var(--width);
  height: var(--height);
  color: var(--text-color);
  text-align: center;
}
.Aatelinen {
  position: fixed;
  left: 23%;
  bottom: var(--bottom);
  width: var(--width);
  height: var(--height);
  color: var(--text-color);
  text-align: center;
}
.Kansalainen {
  position: fixed;
  left: 41%;
  bottom: var(--bottom);
  width: var(--width);
  height: var(--height);
  color: var(--text-color);
  text-align: center;
}
.Huora {
  position: fixed;
  left: 59%;
  bottom: var(--bottom);
  width: var(--width);
  height: var(--height);
  color: var(--text-color);
  text-align: center;
}
.Orja {
  position: fixed;
  left: 77%;
  bottom: var(--bottom);
  width: var(--width);
  height: var(--height);
  color: var(--text-color);
  text-align: center;
}

.Container {
  display: flex;
  flex-direction: row;
}
.Item {
  margin: 5vw;
}

.Blank {
  width: 100%;
  height: var(--height);
}